body{
    margin: 0 ;
    overflow: auto;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Thanh_cong_cu{
    background: darkturquoise;
    width: 100%;
    height: 80px;
}
#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#Thanh_cong_cu #Ten_Web{
    float: left;
    margin-left: 35px;
}
#Thanh_cong_cu #Tim_Kiem{
    float: left;
    margin-left: 0px;
    margin-top: 21px;
}
#Thanh_cong_cu #Hotline .fa-phone-square{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #Hotline #chu_HotLine{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #gioHang #chu_giohang{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}
#trangChu_DanhMuc   {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
}
#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: 4px;
}
#trangChu_DanhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: -11px;
    width: 50px;
    height: 45px;
}
#trangChu_DanhMuc #chu_DanhMuc {
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 0px;
}
#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 80px;
    margin-top: -15px;
}
#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #lienHe {
    float: left;
    margin-left: 50px;
    margin-top: -15px;
}
#trangKhung   {
    width: 100%;
    height: 500px;
    margin: -1px;
}

#ThanhHoTro {
    border: 1px solid black;
    margin: -4px;
    background: white;
    width: 100%;
    height: 50px;
}
#ThanhHoTro #chatLuong #anh_ChatLuong{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #chatLuong #bd{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #chatLuong #sp{
    float: left;
    clear: right;
    margin-left: -158px;
    margin-top: 10px;
}
#ThanhHoTro #giaoHang #anh_GiaoHang{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #giaoHang #mp{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #giaoHang #dh{
    float: left;
    clear: right;
    margin-left: -150px;
    margin-top: 10px;
}
#ThanhHoTro #hoTro #anh_HoTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #hoTro #ht{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #hoTro #hl{
    float: left;
    clear: right;
    margin-left: -100px;
    margin-top: 10px;
}
#ThanhHoTro #doiTra #anh_DoiTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #doiTra #dt{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #doiTra #dk{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -35px;
    margin-right: 10px;
}
#hinh #hinh1{
    margin-left: 210px;
    margin-right: 40px;
    margin-top: 20px;
    width: 240px;
    height: 320px;

}
#hinh #hinh2{
    margin-right: 40px;
    width: 240px;
    height: 320px;
}
#hinh #hinh3{
    margin-right: 40px;
    width: 240px;
    height: 320px;
}
#hinh #hinh4{
    margin-right: 100px;
    width: 240px;
    height: 320px;
}

/*#SanPhamNoiBat #BanLamViec{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    width: 350px;*/
/*    height: 550px;*/
/*    margin-left: 60px;*/
/*    margin-top: 50px;*/
/*}*/
/*#SanPhamNoiBat #BanLamViec #anh_BanLamViec{*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 300px ;*/
/*    width :300px;*/
/*}*/
/*#SanPhamNoiBat #BanLamViec #blv{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamNoiBat #BanLamViec #blv #giaBLV{*/
/*    color: mediumturquoise;*/
/*}*/
/*#SanPhamNoiBat #chu_SanPhamNoiBat{*/
/*    margin-left: 50px;*/
/*    margin-top: 50px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    background: mediumturquoise;*/
/*    text-align: center;*/
/*    color: white;*/
/*    width: 300px;*/
/*    height: 55px;*/
/*}*/
/*#SanPhamNoiBat #sangTraiPhaiSPNB #left{*/
/*    margin-left: 577px;*/
/*    margin-top: 68px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 1px solid mediumturquoise;*/
/*    height : 42px;*/
/*    width : 40px;*/
/*}*/
/*#SanPhamNoiBat #sangTraiPhaiSPNB #right{*/
/*    margin-left: 974px;*/
/*    margin-top: -45px;*/
/*    float: left;*/
/*    border: 1px solid mediumturquoise;*/
/*    height : 42px;*/
/*    width : 40px;*/
/*}*/
/*#tenCacSanPhamNoiBat{*/
/*    background: #e0ffff ;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    width: 960px;*/
/*    height: 490px;*/
/*    margin-left: 466px;*/
/*    margin-top: -496px;*/
/*}*/
/*#tenCacSanPhamNoiBat #TuHaBu {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*    border: 1px solid black;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_TuHaBu {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #tu {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #tu #giaTuHaBu{*/
/*    color: mediumturquoise;*/
/*}*/
/*#tenCacSanPhamNoiBat #SofaBangBella {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 1px solid black;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_SofaBangBella {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #bella {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #bella #giaBella{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamNoiBat #keTuHoBu {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*    border: 1px solid black;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_keTuHoBu {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #tuHoBu {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #tuHoBu #giaKeTuHoBu{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamNoiBat #keTreoPoplar {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*    border: 1px solid black;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_keTreoPoplar {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #poplar {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #poplar #giaKeTreoPoplar{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamNoiBat #keTiViHoBu {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*    border: 1px solid black;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_keTiViHoBu {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #tivi {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #tivi #giaKeTiViHoBu{*/
/*    color: mediumturquoise;*/
/*}*/


/*#tenCacSanPhamNoiBat #gheEuro {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*    border: 1px solid black;*/
/*}*/
/*#tenCacSanPhamNoiBat #anh_gheEuro {*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 250px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamNoiBat #euro {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamNoiBat #euro #giaGheEuro{*/
/*    color: mediumturquoise;*/
/*}*/

/*#SanPhamHot  {*/
/*    border: 1px solid black;*/
/*    width: 100%;*/
/*    height: 570px;*/
/*    margin-top: 700px;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  {*/
/*    text-align: center;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  #thanhKe2{*/
/*    color: darkturquoise;*/
/*    width: 75%;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  #chu{*/
/*    margin-top: 0px;*/
/*    text-align: center;*/
/*    border: 3px solid mediumturquoise;*/
/*    width: 250px;*/
/*    height: 40px;*/
/*    background: mediumturquoise;*/
/*    margin-left: 630px;*/
/*    color: white;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  #hot1{*/
/*    margin: 0px;*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 250px;*/
/*    color: mediumturquoise;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  #hot2{*/
/*    margin: 0px;*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 330px;*/
/*}*/
/*#SanPhamHot  #chu_SanPhamHot  #hot3{*/
/*    margin: 0px;*/
/*    margin-top: -18px;*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 1200px;*/
/*}*/

/*#SanPhamHot #gheGoBapBenhIconic{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 10px solid mediumturquoise;*/
/*    width: 300px;*/
/*    height: 350px;*/
/*    margin-left: 30px;*/
/*    margin-top: 35px;*/
/*}*/
/*#SanPhamHot #gheGoBapBenhIconic #anh_gheGoBapBenhIconic{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 200px ;*/
/*    width :250px;*/
/*}*/
/*#SanPhamHot #gheGoBapBenhIconic #iconic{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamHot #gheGoBapBenhIconic #iconic #giaIconic{*/
/*    color: mediumturquoise;*/
/*}*/

/*#SanPhamHot #ghePhongKhachArctander{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 10px solid mediumturquoise;*/
/*    width: 300px;*/
/*    height: 350px;*/
/*    margin-left: 60px;*/
/*    margin-top: 35px;*/
/*}*/
/*#SanPhamHot #ghePhongKhachArctander #anh_ghePhongKhachArctander{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 200px ;*/
/*    width :250px;*/
/*}*/
/*#SanPhamHot #ghePhongKhachArctander #Arctander{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamHot #ghePhongKhachArctander #Arctander #giaArctander{*/
/*    color: mediumturquoise;*/
/*}*/
/*#SanPhamHot #BanAillen03{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 10px solid mediumturquoise;*/
/*    width: 300px;*/
/*    height: 350px;*/
/*    margin-left: 60px;*/
/*    margin-top: 35px;*/
/*}*/
/*#SanPhamHot #BanAillen03 #anh_BanAillen03{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 200px ;*/
/*    width :250px;*/
/*}*/
/*#SanPhamHot #BanAillen03 #Aillen03{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamHot #BanAillen03 #Aillen03 #giaAillen03{*/
/*    color: mediumturquoise;*/
/*}*/

/*#SanPhamHot #banBinas{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 10px solid mediumturquoise;*/
/*    width: 300px;*/
/*    height: 350px;*/
/*    margin-left: 60px;*/
/*    margin-top: 35px;*/
/*}*/
/*#SanPhamHot #banBinas #anh_banBinas{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 200px ;*/
/*    width :250px;*/
/*}*/
/*#SanPhamHot #banBinas #binas{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamHot #banBinas #binas #giaBinas{*/
/*    color: mediumturquoise;*/
/*}*/
/*#sangTraiPhaiSPH{*/
/*    margin-left: 1400px;*/
/*}*/

/*#SanPhamMoi #Kozoka_trysil{*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    width: 350px;*/
/*    height: 550px;*/
/*    margin-left: 60px;*/
/*    margin-top: 50px;*/
/*}*/
/*#SanPhamMoi #Kozoka_trysil #anh_Kozoka_trysil{*/
/*    margin-left: 25px;*/
/*    margin-top: 30px;*/
/*    height: 300px ;*/
/*    width :300px;*/
/*}*/
/*#SanPhamMoi #Kozoka_trysil #Kozoka{*/
/*    text-align: center;*/
/*}*/
/*#SanPhamMoi #Kozoka_trysil #Kozoka #giaKozoka{*/
/*    color: mediumturquoise;*/
/*}*/

/*#SanPhamMoi #chu_SamPhamMoi{*/
/*    margin-left: 50px;*/
/*    margin-top: 50px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    background: mediumturquoise;*/
/*    text-align: center;*/
/*    color: white;*/
/*    width: 300px;*/
/*    height: 55px;*/
/*}*/
/*#SanPhamMoi #sangTraiPhaiSPM #left_SPM{*/
/*    margin-left: 577px;*/
/*    margin-top: 68px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 1px solid mediumturquoise;*/
/*    height : 42px;*/
/*    width : 40px;*/
/*}*/
/*#SanPhamMoi #sangTraiPhaiSPM #right_SPM{*/
/*    margin-left: 974px;*/
/*    margin-top: -45px;*/
/*    float: left;*/
/*    border: 1px solid mediumturquoise;*/
/*    height : 42px;*/
/*    width : 40px;*/
/*}*/

/*#tenCacSanPhamMoi{*/
/*    background: #e0ffff ;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid mediumturquoise;*/
/*    width: 960px;*/
/*    height: 490px;*/
/*    margin-left: 466px;*/
/*    margin-top: -496px;*/
/*}*/

/*#tenCacSanPhamMoi #dongHoMiso {*/
/*    background: white;*/
/*    margin-left: 55px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_dongHoMiso {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #Miso {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #Miso #giaMiso{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamMoi #dongHoTabu {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_dongHoTabu {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #Tabu {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #Tabu #giaTaBu{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamMoi #GiuongILBRO_BASIC {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_GiuongILBRO_BASIC {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #Basic {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #Basic #giaBasic{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamMoi #GoSoIBIE_DRVICESO {*/
/*    background: white;*/
/*    margin-left: 55px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_GoSoIBIE_DRVICESO {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #DRVICESO {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #DRVICESO #giaDrviceso{*/
/*    color: mediumturquoise;*/
/*}*/

/*#tenCacSanPhamMoi #TuQuanAo {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_TuQuanAo {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #SDR20 {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #SDR20 #giaSDR20{*/
/*    color: mediumturquoise;*/
/*}*/


/*#tenCacSanPhamMoi #LotLy {*/
/*    background: white;*/
/*    margin-left: 45px;*/
/*    margin-top: 15px;*/
/*    float: left;*/
/*    clear: right;*/
/*    border: 3px solid white;*/
/*    width: 250px;*/
/*    height: 220px;*/
/*}*/
/*#tenCacSanPhamMoi #anh_LotLy {*/
/*    margin-left: 10px;*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 230px;*/
/*    height: 150px;*/
/*}*/
/*#tenCacSanPhamMoi #NVH03 {*/
/*    text-align: center;*/
/*}*/
/*#tenCacSanPhamMoi #NVH03 #giaNVH03{*/
/*    color: mediumturquoise;*/
/*}*/
/*#layout4  {*/
/*    width: 100%;*/
/*    background: white;*/
/*    height: 200px;*/
/*    margin-top: 700px;*/
/*}*/
/*#layout4  .layout4_danhMucSanPham{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 13px;*/
/*    margin-right: 15px;*/
/*    width: 18%;*/
/*    height: 200px;*/
/*    border: 1px solid mediumturquoise;*/

/*}*/
/*#layout4  .layout4_danhMucSanPham .danhMucSanPham .anh{*/
/*    width: 18%;*/
/*    height: 200px;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/
/*#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    margin-top: 80px;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/
/*#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat .tenNoiThat{*/
/*    text-align: center;*/
/*    font-size: 170%;*/
/*}*/
/*#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat .noiDung{*/
/*    margin-top: -20px;*/
/*}*/

/*#layout5 {*/
/*    margin-top: 100px;*/
/*    width: 100%;*/
/*    height: 1100px;*/
/*    background: white;*/
/*}*/
/*#layout5 .sanPham{*/
/*    background: #e0ffff ;*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 120px;*/
/*    width: 600px;*/
/*}*/
/*#layout5 .sanPham .tieuDe{*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    background: white;*/
/*}*/
/*#layout5 .sanPham .tieuDe .left{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-top: -20px;*/
/*}*/
/*#layout5 .sanPham .tieuDe .left .ten{*/
/*    font-size: 250%;*/
/*    color: darkturquoise;*/
/*    margin-top: 0px;*/
/*}*/
/*#layout5 .sanPham .tieuDe .left .noiDung{*/
/*    margin-top: -35px;*/
/*}*/
/*#layout5 .sanPham .tieuDe .right {*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-top: -57px;*/
/*    margin-left: 500px;*/
/*}*/
/*#layout5 .sanPham  .tenCacSanPham {*/
/*    border: 1px solid mediumturquoise;*/
/*    width: 100%;*/
/*    height: 950px;*/
/*    background: #e0ffff ;*/
/*}*/
/*#layout5 .sanPham  .cacSanPham {*/
/*    margin-top: 20px;*/
/*    width: 95%;*/
/*    height: 200px;*/
/*    border: 5px solid mediumturquoise;*/
/*    margin-left: 10px;*/
/*    background: white;*/
/*}*/
/*#layout5 .sanPham  .cacSanPham   .anh5{*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 45%;*/
/*    height: 200px;*/
/*    border: 1px solid mediumturquoise ;*/
/*}*/
/*#layout5 .sanPham  .cacSanPham   .moTa .gia{*/
/*    color: mediumturquoise;*/
/*}*/
/*#layout5 .sanPham  .cacSanPham   .moTa .giaCu{*/
/*    color: darkgray;*/
/*}*/



/*#layout5 .sanPham1{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-left: 80px;*/
/*    width: 600px;*/
/*    background: white;*/
/*}*/
/*#layout5 .sanPham1 .tieuDe{*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    background: white;*/
/*}*/
/*#layout5 .sanPham1 .tieuDe .left{*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-top: -20px;*/
/*}*/
/*#layout5 .sanPham1 .tieuDe .left .ten{*/
/*    font-size: 250%;*/
/*    color: darkturquoise;*/
/*    margin-top: 0px;*/
/*}*/
/*#layout5 .sanPham1 .tieuDe .left .noiDung{*/
/*    margin-top: -35px;*/
/*}*/
/*#layout5 .sanPham1 .tieuDe .right {*/
/*    float: left;*/
/*    clear: right;*/
/*    margin-top: -57px;*/
/*    margin-left: 500px;*/
/*}*/
/*#layout5 .sanPham1  .tenCacSanPham {*/
/*    background: #e0ffff ;*/
/*    border: 1px solid mediumturquoise;*/
/*    width: 100%;*/
/*    height: 950px;*/
/*}*/
/*#layout5 .sanPham1  .cacSanPham {*/
/*    background: white;*/
/*    margin-top: 20px;*/
/*    width: 95%;*/
/*    height: 200px;*/
/*    border: 5px solid mediumturquoise;*/
/*    margin-left: 10px;*/
/*}*/
/*#layout5 .sanPham1  .cacSanPham   .anh5{*/
/*    float: left;*/
/*    clear: right;*/
/*    width: 45%;*/
/*    height: 200px;*/
/*    border: 1px solid mediumturquoise ;*/
/*}*/
/*#layout5 .sanPham1 .cacSanPham  .moTa {*/
/*    margin-left: -70px;*/
/*}*/
/*#layout5 .sanPham1  .cacSanPham   .moTa .gia{*/
/*    color: mediumturquoise;*/
/*}*/
/*#layout5 .sanPham1  .cacSanPham   .moTa .giaCu{*/
/*    color: darkgray;*/
/*}*/
#layout6 {
    width: 100%;
    height: 550px;
    background: #e0ffff ;
}
#layout6 .TieuDe .ten{
    float: left;
    clear: right;
    font-size: 260%;
    margin-top: -1px;
    width: 160px;
    height: 50px;
    color: white;
    background: orange;
}

#layout6 .TieuDe .thanhKe{
    margin-top: 50px;
}
#layout6 .meoVatHay  {
    margin-left: -10px;
}
#layout6 .meoVatHay .meoVat {
    float: left;
    clear: right;
    width: 400px;
    height: 300px;
    margin-right: 30px;
    margin-left: 70px;
}

#layout6 .meoVatHay .meoVat .anh {
    width: 400px;
    height: 520px;
}

#layout6 .meoVatHay .meoVat .noiDung_1 i{
    margin-top: 2px;
    color: dodgerblue;
    float: left;
    clear: right;
}
#layout6 .meoVatHay .meoVat .noiDung_1 p {
    margin-left: 25px;
}
#layout6 .meoVatHay .meoVat .noiDung_2 {
    width: 300px;
    height: 200px;
}
#layout6 .meoVatHay .meoVat .noiDung_2 .input_1 {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background-color: #e0ffff;
    border: 1px solid #88cf81;
}
#layout6 .meoVatHay .meoVat .noiDung_2 .input_2 {
    margin-top: 15px;
    width: 100%;
    height: 80px;
    background-color: #e0ffff;
    border: 1px solid #88cf81;
}
#layout6 .meoVatHay .meoVat .noiDung_3 .btn {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: #0a58ca;
    border: 1px solid;
}



#layout7 .thanhDuoi {
    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 50px;
}
#layout7 .thanhDuoi .tenWeb{
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}
#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin{
    float: left;
    clear: right;
    margin-right: 50px;
}
#layout7 .thanhDuoi .thongTin .right .fa{
    float : left;
    clear: right;
    margin-right: 10px;
}
#layout7 .thanhDuoi .thongTin .right .noiDung{
    margin-left: 20px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang{
    float: left;
    clear: right;
    margin-right: 100px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left{
    float: left;
    clear: right;
    margin-top: 220px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left{
    float: left;
    clear: right;
    margin-left: -1450px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang{
    border-radius: 100px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang{
    border-radius: 5px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .dangKi{
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: blue;
    color: white;
    margin-top: -50px;
    border-radius: 10px;
    margin-left: 420px;
    font-size: 190%;
}