body{
    margin: 0 ;
    overflow: auto;
    font-family:  Cambria, Cochin,  "Georgia",   serif;
}
#SanPhamNoiBat  a{
    color: black;
    text-decoration: none;
}
#trangChu_DanhMuc  a{
    color: black;
    text-decoration: none;
}
#SanPhamHot  a{
    color: black;
    text-decoration: none;
}
#layout5  a{
    color: black;
    text-decoration: none;
}
.meoVatHay  a{
    color: black;
    text-decoration: none;
}
#sanPham1  a{
    color: black;
    text-decoration: none;
}
#SanPhamMoi  a{
    color: black;
    text-decoration: none;
}
#layout4 .layout4_danhMucSanPham .danhMucSanPham a {
    color: white;
    text-decoration: none;
}
#Thanh_cong_cu{
    background: darkturquoise;
    width: 100%;
    height: 80px;
}
#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#Thanh_cong_cu #Ten_Web{
    float: left;
    margin-left: 35px;
}
#Thanh_cong_cu .fa-search{
    float: left;
    margin-top: 12px;
    margin-left: 13px;
}
#Tim_Kiem {
    border-radius: 5px;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    height :  40px;
    width : 40px;
    background: blue;
    border: 1px solid #0a58ca;
    color: white;
}
#Tim_Kiem:hover {
    cursor: pointer;
    background: blue;
}
#Thanh_cong_cu #Hotline a {
    color: black;
}
#Thanh_cong_cu #Hotline .fa-phone-square{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #Hotline .fa-phone-square:hover{
    color: white;
    cursor: pointer;
}
#Thanh_cong_cu #Hotline #chu_HotLine{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #Hotline #chu_HotLine:hover{
    color: white;
    cursor: pointer;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #TaiKhoan a {
    color: black;
    text-decoration: none;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle:hover{
    color: white;
    cursor: pointer;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy:hover .danhNhap:hover a {
    color: white;
    cursor: pointer;
}
.danhNhap{
    float: left;
    clear: right;
}
.danhNhap:hover a {
    color: white;
    cursor: pointer;
}
.cheo {
    float: left;
    clear: right;
}
.dangKi {
    float: left;
    clear: right;
}
.dangKi:hover {
    color: white;
    cursor: pointer;
}
.taiKhoanCuaToi {
    float: left;
    clear: right;
    margin-left: -135px;
    margin-top: 35px;
}
.taiKhoanCuaToi a {
    color: black;
    text-decoration: none;
}
.taiKhoanCuaToi:hover a {
    color: white;
    cursor: pointer;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #gioHang a {
    color: black;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart:hover{
    color: white;
    cursor: pointer;
}
#Thanh_cong_cu #gioHang #chu_giohang{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #gioHang #chu_giohang:hover{
    color: white;
    cursor: pointer;
}
#trangChu_DanhMuc   {
    float: left;
    clear: right;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
    margin-top: -10px;
}
#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 200px;
    margin-top: 0px;
    width: 260px;
    height: 50px;
}
#trangChu_DanhMuc #danhMuc:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}


#trangChu_DanhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#trangChu_DanhMuc #chu_DanhMuc {
    margin-left: 25px;
    margin-top: 15px;
}



#trangChu_DanhMuc #danhMuc  #top  {
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: -5px;
    width: 260px;
    display: none;
    position: absolute;
}

#trangChu_DanhMuc #danhMuc  #top a {
    color: black;
    text-decoration: none;
}
#trangChu_DanhMuc #danhMuc #top .danhMuc1 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc2 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}
#trangChu_DanhMuc #danhMuc #top .danhMuc3 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}#trangChu_DanhMuc #danhMuc #top .danhMuc4 {
     border: 1px solid darkgray;
     height: 50px;
     width: 99%;

 }#trangChu_DanhMuc #danhMuc #top .danhMuc5 {
      border: 1px solid darkgray;
      height: 50px;
      width: 99%;

  }

#trangChu_DanhMuc #danhMuc #top .danhMuc1 .noiDungSanPham1 {
    margin-left: 30px;

}
#trangChu_DanhMuc #danhMuc #top .danhMuc2 .noiDungSanPham2 {
    margin-left: 25px;

}
#trangChu_DanhMuc #danhMuc #top .danhMuc3 .noiDungSanPham3 {
    margin-left: 25px;

}
#trangChu_DanhMuc #danhMuc #top .danhMuc4 .noiDungSanPham4 {
    margin-left: 25px;

}
#trangChu_DanhMuc #danhMuc #top .danhMuc5 .noiDungSanPham5 {
    margin-left: 25px;

}

#trangChu_DanhMuc #danhMuc:hover  #top     {
    display: block;
    background: white;
    color: black;
}

#trangChu_DanhMuc  #danhMuc  #top .danhMuc1:hover {
    background: #1fb5d4;
    color: white;
}
#trangChu_DanhMuc  #danhMuc  #top .danhMuc2:hover {
    background: #1fb5d4;
    color: white;
}
#trangChu_DanhMuc  #danhMuc  #top .danhMuc3:hover {
    background: #1fb5d4;
    color: white;
}
#trangChu_DanhMuc  #danhMuc  #top .danhMuc4:hover {
    background: #1fb5d4;
    color: white;
}
#trangChu_DanhMuc  #danhMuc  #top .danhMuc5:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 200px;
}
#trangChu_DanhMuc #trangchu .ten{
    text-align: center;
    margin-top: 13px;
}
#trangChu_DanhMuc #trangchu:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 250px;
}
#trangChu_DanhMuc #heThongCuaHang .ten{
    text-align: center;
    margin-top: 13px;
}
#trangChu_DanhMuc #heThongCuaHang:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 160px;
}
#trangChu_DanhMuc #tinTuc .ten{
    text-align: center;
    margin-top: 13px;
}
#trangChu_DanhMuc #tinTuc:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #lienHe {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 160px;
}
#trangChu_DanhMuc #lienHe .ten{
    text-align: center;
    margin-top: 13px;
}
#trangChu_DanhMuc #lienHe:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

.gioHang {
    text-align: center;
    color: palevioletred;
    margin-top: 70px;
}
.GioHang .TieuDe{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 40px;
}
.GioHang .TieuDe .SanPham {
    float: left;
    clear: right;
    margin-right: 100px;
    margin-top: 7px;
    margin-left: 100px;
}
.GioHang .TieuDe  .TenSanPham{
    float: left;
    clear: right;
    margin-right: 90px;
    margin-top: 7px;
}
.GioHang .TieuDe  .Gia{
    float: left;
    margin-top: 7px;
    clear: right;
    margin-right: 20px;
    margin-left: 300px;
}
.GioHang .TieuDe  .SoLuong{
    float: left;
    clear: right;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 7px;
}
.GioHang .TieuDe  .ThanhTien{
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: 7px;
}
.ThongTin{
    border: 1px solid black;
    width: 100%;
    height: 225px;
}
.ThongTin:hover{
    cursor: pointer;
    background:#e1ffdb ;
}
.ThongTin .anh {
    width: 200px;
    height: 200px;
    float: left;
    clear: right;
    margin-right: 100px;
    margin-left: -1200px;
    margin-top: 10px;
    border: 1px solid black;
}
.ThongTin .thongtinSP {
    float: left;
    clear: right;
    width: 200px;
    margin-right: 80px;
    margin-left: -970px;
    margin-top: 50px;
    text-align: center;
}
.ThongTin .giaTien {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-left: -435px;
    margin-top: 80px;
    color: orangered;
}
.ThongTin .Quantity {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-left: -295px;
    margin-top: 80px;
    border-radius: 5px;
}
.form-control {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.ThongTin .tongTien {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-top: 80px;
    margin-left: -120px;
    color: orangered;
}
.ThongTin .actions {
    float: left;
    clear: right;
    margin-top: 75px;
    margin-right: 70px;
    width: 100px;
    height: 100px;
}
.ThongTin .actions .btn-info {
    width: 40px;
    height: 40px;
    background: #1fb5d4;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}
.ThongTin .actions .btn-info:hover {
    cursor: pointer;
    background: #1fb5d4;
    color: white;
    border: 3px solid black;
}
.ThongTin .actions .btn-danger {
    width: 40px;
    height: 40px;
    background: #ef5f43;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}

.ThongTin .actions .btn-danger:hover {
    cursor: pointer;
    background: #ef5f43;
    color: white;
    border: 3px solid black;
}
.sao3 {
    text-align: center;
    margin-bottom: -15px;
    margin-top: -10px;
}
.sao3 .fa-star{
    color: yellow;
}

.ThongTin1{
    border: 1px solid black;
    width: 100%;
    height: 225px;
}
.ThongTin1:hover{
    cursor: pointer;
    background:#e1ffdb ;
}
.ThongTin1 .anh {
    width: 200px;
    height: 200px;
    float: left;
    clear: right;
    margin-right: 100px;
    margin-left: 45px;
    margin-top: 10px;
    border: 1px solid black;
}
.ThongTin1 .thongtinSP {
    float: left;
    clear: right;
    width: 200px;
    margin-right: 80px;
    margin-left: -70px;
    margin-top: 50px;
    text-align: center;
}
.ThongTin1 .giaTien {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-left: 250px;
    margin-top: 80px;
    color: orangered;
}
.ThongTin1 .Quantity {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-left:  -40px;
    margin-top: 80px;
    border-radius: 5px;
}
.form-control {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.ThongTin1 .tongTien {
    float: left;
    clear: right;
    margin-right: 70px;
    margin-top: 80px;
    margin-left: 0px;
    color: orangered;
}
.ThongTin1 .actions {
    float: left;
    clear: right;
    margin-top: 75px;
    margin-right: 70px;
    width: 100px;
    height: 100px;
}
.ThongTin1 .actions .btn-info {
    width: 40px;
    height: 40px;
    background: #1fb5d4;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}
.ThongTin1 .actions .btn-info:hover {
    cursor: pointer;
    background: #1fb5d4;
    color: white;
    border: 3px solid black;
}
.ThongTin1 .actions .btn-danger {
    width: 40px;
    height: 40px;
    background: #ef5f43;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}

.ThongTin1 .actions .btn-danger:hover {
    cursor: pointer;
    background: #ef5f43;
    color: white;
    border: 3px solid black;
}
.MuaHang {
    margin-top: 30px;
}
.MuaHang .tiepTuc {
    float: left;
    clear: right;
    background: #ef5f43;
    color: white;
    width: 260px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 725px;
}
.MuaHang .tiepTuc:hover {
    cursor: pointer;
    background: white;
    color: #ef5f43;
    border: 1px solid black;
}
.MuaHang .tiepTuc .fa-chevron-left{
    float: left;
    clear: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 10px;
}
.MuaHang .tiepTuc .ten{
    float: left;
    clear: right;
    margin-top: 7px;
}
.tongTien {
    float: left;
    clear: right;
    margin-right: 50px;
}
.MuaHang .tiepTheo {
    border-radius: 10px;
    background: #88cf81;
    color: white;
    width: 200px;
    height: 50px;
    float: left;
    clear: right;
}
.MuaHang .tiepTheo:hover {
    cursor: pointer;
    background: white;
    color: #88cf81;
    border: 1px solid black;
}
.MuaHang .tiepTheo .fa-chevron-right{
    float: left;
    clear: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 10px;
}
.MuaHang .tiepTheo .ten{
    float: left;
    clear: right;
    margin-top: 7px;
    margin-left: 25px;
}
#layout2 .text .dong1 .chinhsach {
    text-align: center;
    margin-left: -2000px;
}

#ThanhHoTro {
    border: 1px solid black;
    margin: -4px;
    background: white;
    width: 100%;
    height: 50px;
}
#ThanhHoTro #chatLuong #anh_ChatLuong{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #chatLuong #bd{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #chatLuong #sp{
    float: left;
    clear: right;
    margin-left: -158px;
    margin-top: 10px;
}
#ThanhHoTro #giaoHang #anh_GiaoHang{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #giaoHang #mp{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #giaoHang #dh{
    float: left;
    clear: right;
    margin-left: -150px;
    margin-top: 10px;
}
#ThanhHoTro #hoTro #anh_HoTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #hoTro #ht{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #hoTro #hl{
    float: left;
    clear: right;
    margin-left: -100px;
    margin-top: 10px;
}
#ThanhHoTro #doiTra #anh_DoiTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #doiTra #dt{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #doiTra #dk{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -35px;
    margin-right: 10px;
}



#layout1 .noiDungGioHang {
    background-color: #cfd8dc;
    height: 100%;
}
#layout1 .timKiem .btn_timKiem {
    width: 1455px;
    height: 50px;
    text-align: left;
    background: none;
    border: 1px solid #737373;
    background-color: #cfd8dc;
}
#layout1 .timKiem .btn_timKiem img {
    margin-left: 1450px;
    margin-top: -15px;
}
#layout1 .noiDungGioHang .fa-shopping-cart{
    font-size: 40px;
    margin-left: 740px;
}
#layout1 .timKiem .btn_thongTin {
    width: 100%;
    height: 50px;
    text-align: left;
    background: none;
    border: 1px solid #737373;
    border-top: none;
    border-left: none;
    border-right: none;
}
#layout1 .timKiem .total {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border: 1px solid #737373;
    border-top: none;
    border-left: none;
    border-right: none;
}
#layout1 .timKiem .btn {
    margin-top: 20px;
    width: 1490px;
    height: 50px;
    background-color: red;
    border: 1px solid;
}
#layout1 .back {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-right: 45px;
}
#layout1 .back i {
    margin-right: 20px;
}
#layout3 .container {

    height: 200px;
    border: 1px solid #737373;
    border-top: none;
    border-left: none;
    border-right: none;
}
#layout3 .container .lienHe h1{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#layout3 .container .lienHe p{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#layout3 .container .lienHe .btn1 {
    background-color: white;
    border: 1px solid #555555;
}
#layout3 .container .lienHe .btn2 {
    background-color: #0a58ca;
    border: 1px solid #0a58ca;
}
.layout4 {
    height: 100px;
}
.layout4 #giaoHang .fa-archive{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
.layout4 #giaoHang #chu_giaoHang{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
.layout4 #chinhSach .fa-bullhorn{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
.layout4 #chinhSach #chu_chinhSach{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
.layout4 #hoTro .fa-bell{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
.layout4 #hoTro #chu_hoTro{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#layout5 button{
    margin-top: 20px;
    width: 450px;
    margin-left: 500px;
    background-color: #6db9d7;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 15px;
}
#layout5 button:hover{
    background: #0a58ca;
    color: black;
    cursor: pointer;
}
.chinhsachloi {
    color: white;
}






#layout7 .thanhDuoi {
    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 100px;
}
#layout7 .thanhDuoi .tenWeb{
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}
#layout7 .thanhDuoi .tenWeb .hotline  a {
    color: black;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square:hover {
    color: white;
    cursor: pointer;
}
#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin{
    float: left;
    clear: right;
    margin-right: 50px;
}
#layout7 .thanhDuoi .thongTin .right .fa{
    float : left;
    clear: right;
    margin-right: 10px;
}
#layout7 .thanhDuoi .thongTin .right .noiDung{
    margin-left: 20px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang{
    float: left;
    clear: right;
    margin-right: 100px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a {
    color: black;
    text-decoration: none;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a:hover{
    color: white;
    cursor: pointer;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left{
    float: left;
    clear: right;
    margin-top: 220px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left{
    float: left;
    clear: right;
    margin-left: -1450px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang{
    border-radius: 100px;
    margin-right: 10px;
    width: 53px;
    height: 53px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang:hover{
    cursor: pointer;
    color: white;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang{
    border-radius: 5px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang:hover{
    cursor: pointer;
    color: white;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .email{
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi{
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: white;
    color: black;
    margin-top: -55px;
    border-radius: 10px;
    margin-left: 1280px;
    font-size: 190%;
    border: 1px solid black;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi:hover {
    background: blue;
    color: white;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi .dangKi{
    margin-top: 8px;
    margin-left: 15px;
}