.anhNen  {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-left: -10px;
    margin-top: -10px;
}
.anh {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity : 0.5;
    margin-left: -10px;
    margin-top: -10px;
}

#thongTinSanPham {
    border: 2px solid #1fb5d4;
    width: 1200px;
    height: 620px;
    margin: auto;
    margin-left: 150px;
    margin-top: 40px;
    position: absolute;
    z-index: 2;
}
#thongTinSanPham .trai {
    float: left;
    clear: right;
    width: 40%;
    height: 620px;
    background: white;

}
#thongTinSanPham .trai .anh_BanLamViec{
    width: 440px;
    height: 440px;
    margin-left: 20px;
    margin-top: 20px;
}
#thongTinSanPham .trai .anh_BanLamViec_min{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    border: 5px solid #1fb5d4;
}
#thongTinSanPham .phai {
    float: left;
    clear: right;
    width: 60%;
    height: 620px;
    background: white;

}
#thongTinSanPham .phai .tieuDe .ten {
    float: left;
    clear: right;
    font-size: 300%;
    margin-top: 0px;
    margin-left: 40px;
}
#thongTinSanPham .phai .tieuDe .fa-times-circle {
    float: left;
    clear: right;
    font-size: 150%;
    margin-top: -90px;
    margin-left: 690px;
}
#thongTinSanPham .phai .danhGia  {
    width: 500px;
    height: 150px;
    margin-top: 50px;
}
#thongTinSanPham .phai .danhGia .sao  {
    float: left;
    clear: right;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: -25px;

}
#thongTinSanPham .phai .danhGia .sao .fa-star {
    color: gold;

}
#thongTinSanPham .phai .danhGia .danhGiaCuaBan  {
    float: left;
    clear: right;
    color: forestgreen;
    font-weight: bold;
    margin-left: 150px;
    margin-top: -40px;
}
#thongTinSanPham .phai .thongTin   {
    margin-top: -120px;
    margin-left: 40px;
}
#thongTinSanPham .phai .thongTin  .maSanPham {
    float: left;
    clear: right;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: -260px;
}
#thongTinSanPham .phai .thongTin  .maSanPham .tieuDe  {
    float: left;
    clear: right;
    margin-right: 20px;
}
#thongTinSanPham .phai .thongTin  .maSanPham .ma  {
    float: left;
    clear: right;
    margin-right: 20px;
    margin-top: 20px;
}#thongTinSanPham .phai .thongTin  .thuongHieu .tieuDe  {
     float: left;
     clear: right;
     margin-right: 20px;
 }
#thongTinSanPham .phai .thongTin  .thuongHieu .ma  {
    float: left;
    clear: right;
    margin-right: 20px;
    margin-top: 20px;
}
#thongTinSanPham .phai .thanh  {
    width: 90%;
    margin-top: 20px;
}
#thongTinSanPham .phai  .gia .giaBLV {
    margin-left: 40px;
    margin-top: 0px;
    font-size: 250%;
    color: darkorange;
}
#thongTinSanPham .phai  .gia .TinhTrang {
    margin-left: 40px;
    margin-top: 0px;
}
#thongTinSanPham .phai  .gia .TinhTrang .tieuDe{
    float: left;
    clear: right;
    margin-top: 0px;
    margin-right: 20px;
}
#thongTinSanPham .phai  .gia .TinhTrang .hang{
    margin-top: -20px;
    color: red;
}
#thongTinSanPham .phai  .thongTinChiTiet{
    margin-left: 40px;
    margin-top: 23px;
}
#thongTinSanPham .phai  .mauSac{
    margin-left: 40px;
}
#thongTinSanPham .phai  .mauSac .top .tieuDe{
    float: left;
    clear: right;
    margin-right: 20px;
    margin-top: -1px;
}
#thongTinSanPham .phai  .mauSac .bottom .anh_BanLamViec_min{
    width: 100px;
    height: 100px;
    border: 5px solid #1fb5d4;
    margin-left: -100px;
}
#thongTinSanPham .phai  .chatLieu .tieuDe{
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: -20px;
}
#thongTinSanPham .phai  .chatLieu .thongTin{
    float: left;
    clear: right;
    margin-top: 20px;
}
#thongTinSanPham .phai  .soLuongSanPham {
    margin-left: 50px;
    margin-top: 20px;

}
#thongTinSanPham .phai  .soLuongSanPham .tru{
    margin-right: 20px;
    float: left;
    clear: right;
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: -210px;
}
#thongTinSanPham .phai  .soLuongSanPham .tru .dauTru{
    font-size: 500%;
    margin-left: 13px;
    margin-top: -30px;
}

#thongTinSanPham .phai  .soLuongSanPham .so{
    float: left;
    clear: right;
    width: 50px;
    height: 50px;
    background: darkorange;
    border: 2px solid coral;
    margin-top: 40px;
    margin-left: -155px;
}
#thongTinSanPham .phai  .soLuongSanPham .so .soLuongDat{
    font-size: 250%;
    margin-left: 15px;
    margin-top: 0px;
    color: white;
}

#thongTinSanPham .phai  .soLuongSanPham .cong{
    float: left;
    clear: right;
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: -105px;
}
#thongTinSanPham .phai  .soLuongSanPham .cong .dauCong{
    font-size: 250%;
    margin-left: 15px;
    margin-top: 0px;
}
#thongTinSanPham .phai  .gioHang {
    float: left;
    clear: right;
    width: 270px;
    height: 50px;
    background: darkorange;
    margin-left: 0px;
    margin-top: 45px;
    border-radius: 10px;
}
#thongTinSanPham .phai  .gioHang .fa-shopping-cart{
    font-size: 200%;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    clear: right;
}
#thongTinSanPham .phai  .gioHang .them{
    font-size: 150%;
    float: left;
    clear: right;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
#thongTinSanPham .phai  .muaNgay {
    float: left;
    clear: right;
    width: 180px;
    height: 50px;
    background: lawngreen;
    margin-left: 480px;
    margin-top: -50px;
    border-radius: 10px;
}
#thongTinSanPham .phai  .muaNgay .mua{
    font-size: 150%;
    float: left;
    clear: right;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
